<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao接口的路径 -->
<mapper namespace="com.examsys.dao.ExpressDao">

	<insert id="add" parameterType="com.examsys.po.Express">
		Insert into Express (EXP_IPHONE,EXP_NAME,PAY_TYPE,EXP_COST,EXP_COMPANY_ID,EXP_NUM,EXP_STATUS,CREATE_NAME,CREATE_DATE,REMARK) values (#{exp_iphone},#{exp_name},#{pay_type},#{exp_cost},#{expressCompany.id},#{exp_num},#{exp_status},#{create_name},#{create_date},#{remark})
	</insert>

	<update id="update" parameterType="com.examsys.po.Express">
		UPDATE Express SET EXP_IPHONE=#{exp_iphone},EXP_NAME=#{exp_name},PAY_TYPE=#{pay_type},EXP_COST=#{exp_cost},EXP_COMPANY_ID=#{expressCompany.id},EXP_NUM=#{exp_num},EXP_STATUS=#{exp_status},CREATE_NAME=#{create_name},CREATE_DATE=#{create_date},REMARK=#{remark} WHERE ID=#{id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM Express WHERE ID=#{id}
	</delete>
	
	<!-- 创建数据库表 -->
	<resultMap type="com.examsys.po.Express" id="expressMap">
		<id property="id" column="ID"></id>
		<result property="exp_iphone" column="EXP_IPHONE"></result>
		<result property="exp_name" column="EXP_NAME"></result>
		<result property="pay_type" column="PAY_TYPE"></result>
		<result property="exp_cost" column="EXP_COST"></result>
		<result property="exp_num" column="EXP_NUM"></result>
		<result property="exp_status" column="EXP_STATUS"></result>
		<result property="create_name" column="CREATE_NAME"></result>
		<result property="create_date" column="CREATE_DATE"></result>
		<result property="remark" column="REMARK"></result>
		
		<association property="expressCompany" javaType="com.examsys.po.ExpressCompany">
			<id property="id" column="EXP_COMPANY_ID"/>
			<result property="exp_company" column="EXP_COMPANY"/>
		</association>
		
		
	</resultMap>

	<select id="get" parameterType="java.lang.Integer" resultMap="expressMap">
		SELECT a.ID,a.EXP_IPHONE,a.EXP_NAME,a.PAY_TYPE,a.EXP_COST,a.EXP_COMPANY_ID,a.EXP_NUM,a.EXP_STATUS,a.CREATE_NAME,a.CREATE_DATE,a.REMARK,b.EXP_COMPANY FROM EXPRESS a LEFT JOIN EXPRESSCOMPANY b ON a.EXP_COMPANY_ID = b.ID WHERE a.ID=#{id}
	</select>
	
	<select id="getList1" resultMap="expressMap">
		SELECT a.ID,a.EXP_IPHONE,a.EXP_NAME,a.PAY_TYPE,a.EXP_COST,a.EXP_COMPANY_ID,a.EXP_NUM,a.EXP_STATUS,a.CREATE_NAME,a.CREATE_DATE,a.REMARK,b.EXP_COMPANY FROM EXPRESS a LEFT JOIN EXPRESSCOMPANY b ON a.EXP_COMPANY_ID = b.ID
	</select>
	
	<select id="getList2" parameterType="com.examsys.po.Express" resultMap="expressMap">
		SELECT a.ID,a.EXP_IPHONE,a.EXP_NAME,a.PAY_TYPE,a.EXP_COST,a.EXP_COMPANY_ID,a.EXP_NUM,a.EXP_STATUS,a.CREATE_NAME,a.CREATE_DATE,a.REMARK,b.EXP_COMPANY FROM EXPRESS a LEFT JOIN EXPRESSCOMPANY b ON a.EXP_COMPANY_ID = b.ID 
		<where>
			<if test="id!=null">
				 AND a.ID=#{id}
			</if>
			<if test="exp_num!=null">
				 AND a.EXP_NUM LIKE concat(concat('%',#{exp_num}),'%')
			</if>
			
			<trim prefix="WHERE" prefixOverrides="AND|OR"></trim>
		</where>
	</select>
	
	
	<select id="getExpressByUserName" parameterType="java.lang.String" resultMap="expressMap">
		SELECT a.ID,a.ROLE_ID,a.USER_NAME,a.USER_PASS,a.PHONE,a.LOGIN_TIMES,a.CREATE_DATE,a.LOGIN_DATE,a.STATUS,a.REMARK,b.ROLE_NAME,b.ROLE_PRIVELEGE FROM Express a LEFT JOIN Express_ROLES b ON a.ROLE_ID=b.id WHERE a.USER_NAME=#{user_name}
	</select>
</mapper>